body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff895d;
    min-height: 100vh;
    flex-direction: column;
    
}

h1 {
    color: #d5eeff;
}

.main {
    display: flex;
    width: 300px;
    padding: 12px;
    padding-bottom: 0;
    background-color: #1b435d;
    margin-top: 32px;
    border: solid #1b435d 7px;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
    
}

.answer-box {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex-basis: 138px;
    margin-bottom: 12px;
    background-color: #d5eeff;
    border: solid #d5eeff 3px;
    justify-content: space-between;
    overflow: hidden;
}

.answer,
.calculation {
    display: flex;
    justify-content: flex-end;
    border: solid #d5eeff 1px;
    border-radius: 10px;
    background-color: #d5eeff;
}

.number {
    background-color: #78bbe6;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.other {
    color: black;

    font-weight: bold;
}

.answer {
    font-size: 36px;
}

.buttons {
    display: flex;
    flex-direction: column;
    height: 350px;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.button {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
}

.operation {
    background-color: #ff895d;
    font-weight: bold;
}